# Node Dependencies
node_modules/

# IDE Settings
.idea/

# Config Files
*.iml

# Documentation
docs/

# Private Files
downloads/*
*.sqlite3
serverMap.json
testCases.json
.env

# Database files just in Case
*.sql
*.sqlite