#Slack_Variable_Note="These can be found on the configuration page for your Slack App"
SLACK_SIGNING_SECRET=99999999999999999999999999999999
SLACK_BOT_USER_OAUTH_ACCESS_TOKEN=xoxb-999999999999-9999999999999-999999999999999999999999

#Discord_Token_Note="Replace everything in the quotes with the bot token for your Discord bot found in the Discord Developer Portal page for your bot"
DISCORD_TOKEN="999999999999999999999999.999999.999999999999999999999999999"
#Discord_Guild_ID_Note="The ID of the server/guild to log to. Bot must have permission to send messages and create channels and be invited to the server. Get the ID by right clicking the server icon and pressing the last option 'Copy ID'"
DISCORD_GUILD_ID="999999999999999999"

#Server_URL_Note="Can be IP address (with port number if needed like :3000) or DNS address. Do not end the url with '/'"
SERVER_URL="https://example.com"
#Disable_File_Server_Note="Set this to TRUE if you would not like files that are too large to be sent to Discord to be publicly accessible from the server URL running the bot or anything else otherwise"
DISABLE_FILE_SERVER="FALSE"
#Disable_File_Server_List_Note="Set this to TRUE if you would not like the root of the server URL to list out every file that the downloads folder contains or anything else otherwise"
DISABLE_FILE_SERVER_LIST="FALSE"

#Disable_Channel_Join_Note="Set this to TRUE if you would not like the Slack App to attempt to join every public channel on start up. You will probably only need to set this to TRUE if the bot does not have the permission to look up channels and join them"
DISABLE_CHANNEL_JOIN="FALSE"
#Disable_Bot_Info_Lookup_Note="Set this to TRUE if you would like the Slack App to ignore it's own messages or if your app will not be sending any messages to the workspace"
DISABLE_BOT_INFO_LOOKUP="FALSE"

#Port_Note="Change if you are using a different port number"
PORT=3000